<div class="footer grid xl:grid-cols-3 lg:grid-cols-3  p-8 bg-white  border-t border-inherit">
    <div class="left">
        <!-- <h1 class="text-4xl font-bold">Giorgi</h1>
        <h1 class="text-4xl font-bold text-[#046bff]">Armaani</h1>
        <p class="my-2">We take responsibility<br /> to provide our best premium products</p> -->

        <!-- <div class="buttons flex my-12"> 
            <a href="" class="app-store-button">
                <div class=" flex items-center rounded-md px-4 py-1 bg-black text-white">
                    <span class="text-3xl"><i class="fa-brands fa-app-store"></i></span>
                    <div style="margin : 1px 5px">
                        <span class="small-text">Download on the</span> <br />
                        <span class="btns-text">App Store</span>
                    </div>
                </div>
            </a>
                
            <a href="" class="play-store-button mx-2">
                <div class=" flex items-center rounded-md px-4 py-1 bg-black text-white">
                    <span class="text-2xl"><i class="fa-brands fa-google-play"></i></span>
                    <div style="margin : 1px 5px">
                        <span class="small-text">GET IT ON</span> <br />
                        <span class="btns-text">Play Store</span>
                    </div>
                </div>
            </a>
        </div> -->

        <div class="social-buttons my-4 text-2xl">
            <h1 class="text-4xl font-semibold mb-4 ">follow us on</h1>
            <div class="flex">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>   
    
    <div class="right col-span-2">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-10">
            <div class="footer-opt">
                <h1 class='text-xl'>Products</h1>
                <a href="">Men's collection</a><br>
                <a href="">Women's Collection</a>
            </div> 

            <div class="footer-opt">
                <h1 class='text-xl'>Company</h1>
                <a href="">Who we are</a><br>
                <a href="">Sustainibility</a><br>
                <a href="">Careers</a><br>
                <a href="">Terms & Conditions</a><br>
                <a href="">Privacy</a>
            </div> 

            <div class="footer-opt">
                <h1 class=' text-xl'>Customer Service</h1>
                <a href="">Contact</a><br>
                <a href="">Shipping</a><br>
                <a href="">Returns</a><br>
                <a href="">Warrnty</a><br>
                <a href="">Secure Payments</a><br>
                <a href="">FAQ</a><br>
                <a href="">Find a store</a><br>
            </div> 

        </div>
    </div>
</div>

<script src="logic.js"></script> 